// $primary-color: #aa6d6d
$primary-color: #2980b9
$additional-color: #7f8c8d
$text-color: #fff
$form-color: #fff
   
body
    margin: 0
    padding: 0
    font-family: "Roboto", sans-serif;
    overflow: hidden

#canvas
    position: fixed
    top: 0
    left: 0
    z-index: -1
    overflow: hidden

.wrapper
    position: relative
    z-index: 2
    background-color: white
    width: 1280
    margin: 0 auto

.header 
    min-height: 60px
    background: $primary-color

.logo
    display: flex
    justify-content: flex-start
    align-items: center
    
.icon
    height: 50px
    width: 50px
    margin-right: 10px   
    background: url("../img/logo.svg") no-repeat

.icon-text
    line-height: 64px
    color: $text-color
    font-size: 20px

a.header-switch
    line-height: 64px
    color: $text-color
    font-size: 14px
    text-decoration: none

.main-authorization
    height: 400px
    width: 750px    
    background: $form-color
    padding-top: 50px
    border: 1px solid #ccc;
    transition: all ease 1s;
    input,
    span
        border-radius: 0

.registration
    height: 500px

.main-header
    text-align: center
    font-size: 20px
    color: $additional-color

.main-form
    margin: 50px 50px 10px 50px
    padding-left: 10px;
    display: flex
    flex-direction: column
    justify-content: center

.main-form-fields
    display: flex
    flex-direction: column
    align-items: center

.main-form-buttons
    display: flex
    margin-top: 25px
    justify-content: space-around
    .btn
        color: #fff
        border-radius: 0
    .signin,
    .next-two
        background-color: $primary-color
        &:hover
            background-color: #3498db
    .register
        background-color: #27ae60
        &:hover
            background-color: #2ecc71
    .back-two,
    .back-one
        background-color: #c0392b
        &:hover
            background-color: #e74c3c
        
a.bottom-copyright
    line-height: 64px
    color: $text-color
    font-size: 14px
    text-decoration: none

.bottom 
    min-height: 60px
    background: $primary-color
    text-align: center

.visible
    opacity: 1

.invisible
    opacity: 0

.body-main
    display: flex
    flex-direction: column
    justify-content: space-between

.main-register
    margin: 50px 50px 0px 50px
    input
        border-radius: 0

.main-body 
    margin-top: 50px

.bad-input
    color: #495057
    background-color: #fff
    border-color: red
    box-shadow: 0 0 0 0.2rem red
    outline: 0

.popover-header
    background-color: $primary-color
    color: $text-color

.submit-registration
    position: absolute
    margin: auto
    left: 0
    right: 0
    top: 0
    bottom: 0
    width: 700px
    height: 400px
    background-color: #ffffff
    transition: all ease 1s;

.header-submit-registation 
    height: 75px
    width: 700px
    background-color: $primary-color
    color: white
    text-align: center
    line-height: 75px
    font-size: 18px

.body-submit-registration
    padding-left: 20px
    padding-top: 20px
    ul
        padding-top: 20px
        list-style: none
        li
            padding-top: 5px
    span
        font-weight: bold;
        color: $additional-color

.fade-body
    opacity: 0.6
    background-color: #000