body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

#canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.wrapper {
  position: relative;
  z-index: 2;
  background-color: white;
  width: 1280;
  margin: 0 auto;
}

.header {
  min-height: 60px;
  background: #2980b9;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  background: url("../img/logo.svg") no-repeat;
}

.icon-text {
  line-height: 64px;
  color: #fff;
  font-size: 20px;
}

a.header-switch {
  line-height: 64px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.main-authorization {
  height: 400px;
  width: 750px;
  background: #fff;
  padding-top: 50px;
  border: 1px solid #ccc;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.main-authorization input,
.main-authorization span {
  border-radius: 0;
}

.registration {
  height: 500px;
}

.main-header {
  text-align: center;
  font-size: 20px;
  color: #7f8c8d;
}

.main-form {
  margin: 50px 50px 10px 50px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-form-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main-form-buttons .btn {
  color: #fff;
  border-radius: 0;
}

.main-form-buttons .signin,
.main-form-buttons .next-two {
  background-color: #2980b9;
}

.main-form-buttons .signin:hover,
.main-form-buttons .next-two:hover {
  background-color: #3498db;
}

.main-form-buttons .register {
  background-color: #27ae60;
}

.main-form-buttons .register:hover {
  background-color: #2ecc71;
}

.main-form-buttons .back-two,
.main-form-buttons .back-one {
  background-color: #c0392b;
}

.main-form-buttons .back-two:hover,
.main-form-buttons .back-one:hover {
  background-color: #e74c3c;
}

a.bottom-copyright {
  line-height: 64px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.bottom {
  min-height: 60px;
  background: #2980b9;
  text-align: center;
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.body-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-register {
  margin: 50px 50px 0px 50px;
}

.main-register input {
  border-radius: 0;
}

.main-body {
  margin-top: 50px;
}

.bad-input {
  color: #495057;
  background-color: #fff;
  border-color: red;
  -webkit-box-shadow: 0 0 0 0.2rem red;
          box-shadow: 0 0 0 0.2rem red;
  outline: 0;
}

.popover-header {
  background-color: #2980b9;
  color: #fff;
}

.submit-registration {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 700px;
  height: 400px;
  background-color: #ffffff;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
}

.header-submit-registation {
  height: 75px;
  width: 700px;
  background-color: #2980b9;
  color: white;
  text-align: center;
  line-height: 75px;
  font-size: 18px;
}

.body-submit-registration {
  padding-left: 20px;
  padding-top: 20px;
}

.body-submit-registration ul {
  padding-top: 20px;
  list-style: none;
}

.body-submit-registration ul li {
  padding-top: 5px;
}

.body-submit-registration span {
  font-weight: bold;
  color: #7f8c8d;
}

.fade-body {
  opacity: 0.6;
  background-color: #000;
}
/*# sourceMappingURL=style.css.map */